
<div >
  <h1 >{{ group.name }}</h1>
  <h2>{{ date | date }}</h2>

  <div id="exercise-table">
    <div *ngFor="let recExercise of recExercises$ | async">
      <p>
        Exercise: {{ recExercise.name }}  
      </p>
      <p>Sets:      {{ recExercise.sets }}         </p>
      <p>Reps:       {{ recExercise.reps }}      </p>
      <p>Weight:       {{ recExercise.weight }}     </p>
      <p>Rest:    {{ recExercise.rest }} </p>
      <p>Comment :  {{ recExercise.coachComment }}</p>
      
      <mat-icon id="edit" class="material-icons md-dark md-inactive" (click)="openEditExerciseDialog(recExercise)">edit</mat-icon>
      <mat-icon id="delete" class="material-icons md-dark md-inactive" (click)="deleteRecExercise(recExercise)">delete</mat-icon>
   
    </div>
        
  </div>

  <!-- <ul>
    <li *ngFor="let recExercise of recExercises$ | async">
      {{ recExercise.name }}
    </li>
  </ul> -->

  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutAlign="center center" class="content">
        <div class="blocks">
          <button
            (click)="openNewExerciseDialog()"
            button="submit"
            mat-raised-button
            color="secondary"
            id="add-exercise-button"
          >
            <mat-icon>add</mat-icon> Add Exercise
          </button>
          <button
            id="workout-button"
            (click)="saveWorkout()"
            button="submit"
            mat-raised-button
            color="primary"
            routerLink="/admin-home"
          >
            Save Workout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
